<footer class="page-footer font-small cyan darken-3">
    <div class=" pt-5 footer">
        <div class="container-fluid">
          <div class="row">
            <div class="col-lg-5 col-xs-12 about-company">
              <h2>Giới thiệu</h2>
              <p class="pr-5 text-white-50">
                  Truyen full là website đọc truyện convert online cập nhật
                  liên tục và nhanh nhất các truyện tiên hiệp, kiếm hiệp, huyền ảo
                  được các thành viên liên tục đóng góp rất nhiều truyện hay và nổi bật.
              </p>
            </div>
            <div class="col-lg-3 col-xs-12 links">
              <h4 class="mt-lg-0 mt-sm-3">Tag</h4>
                <ul class="m-0 p-0">
                  <li>- <a href="#">Tiên hiệp</a></li>
                  <li>- <a href="#">Kiếm hiệp</a></li>
                  <li>- <a href="#">Đô thị</a></li>
                  <li>- <a href="#">Huyễn ảo</a></li>
                  <li>- <a href="#">Dị giới</a></li>
                  <li>- <a href="#">Hệ thống</a></li>
                </ul>
            </div>
            <div class="col-lg-4 col-xs-12 location">
              <h4 class="mt-lg-0 mt-sm-4">Liên hệ</h4>
              <p>193 Nguyễn Lương Bằng, Liên Chiểu, Đà Nẵng</p>
              <p class="mb-0"><i class="fa fa-phone mr-3"></i>(+84)898 237 228</p>
              <p><i class="fa fa-envelope-o mr-3"></i>damhoangbuu@gmail.com</p>
            </div>
          </div>
          <div class="row mt-5">
            <div class="col copyright">
              <p class=""><small class="text-white-50">© 2019. All Rights Reserved.</small></p>
            </div>
          </div>
        </div>
        </div>     
</footer>